<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <!-- removed the email from the first column -->
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li>
        </ul>
      </div>

      <!-- removed the Github link, added email and twitter on one line -->
      <div class="footer-col footer-col-2">
        <p>
          <a href="mailto:someone@domain.com">contact me</a> or
          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}">tweet at me</a>
          {% endif %}
        </p>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
