---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "nord";

// change fonts, font size, line spacing and colors
$display-font-family: "EB Garamond", "Times New Roman", Times, serif;
$display-font-size:   24px;
$base-font-family: 'Source Serif Pro', "Times New Roman", Times, serif;
$base-font-size:   18px;

//$base-line-height: 1.25;

$background-color: $nord5; //#E5E9F0;
$brand-color: $nord7; //#8FBCBB;
$comp-color: #FFDDC2;

$grey-color: lighten($nord3, 10%); //modified nord from original
$grey-color-light: #ffffff;
$grey-color-dark:  $nord3; //#4C566A;

//change width of content area -- default is hard to read
$content-width:    650px;

$on-palm:          600px;
$on-laptop:        650px;

@import "minima";

/**
*   Overrides for css not part of the minima theme
*/
// center the newer posts | page number | older posts links on the home page
.pagination {
  text-align: center;
}

/**
*   Overrides for minima/_base.scss
*/

//  LINKS
// change color for visited and hovered links
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

//  BLOCKQUOTES
// change font size and remove italics for block quotes
blockquote {
  font-size: $base-font-size;
  letter-spacing: 0px;
  font-style: normal;
}

/**
*   Overrides for minima/_layout.scss
*/

//  SITE HEADER
//change header size and borders
.site-header {
  border-top: 0px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 64px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

//make title larger
//use the display font in the title
//remove the underline and color when hovering over a link
.site-title {
  font-family: $display-font-family;
  font-size: 42px;
  line-height: 64px;
  color: $brand-color;

  &,
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: $brand-color;
  }
}

//use the display font for the nav
//adjust navigation position for the larger header
//remove the underline and color when hovering over a link
.site-nav {
  font-family: $display-font-family;
  font-size: $display-font-size;
  line-height: 64px;

  .page-link {
    &:hover {
      text-decoration: none;
    }
  }
}


//  SITE FOOTER
// use the display font, change font colors and sizes
.footer-heading {
  font-family: $display-font-family;
  font-size: $display-font-size;
  color: $grey-color-dark;
  margin-bottom: $spacing-unit / 8;
}

.footer-col-wrapper {
  font-family: $display-font-family;
  font-size: 16px;
  color: $grey-color;
}

// adjust column width
.footer-col-1 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}
.footer-col-2 {
  text-align: center;
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}
.footer-col-3 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

// no changes to the footer on mobile, but we have to repeat it because we overrode it
@include media-query($on-palm) {

  .footer-col {
    //undo what we did in column 2
    text-align: left;

    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

// define post-link-large class - this is used only in _layouts/home.html
// same as post-link but with the display font and a larger font size
.post-link-large {
  display: block;

  font-family: $display-font-family;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;
}

// use the display font for post titles and regular post links
.post-link {
  font-family: $display-font-family;
}

.post-title {
  font-family: $display-font-family;
  font-size: 36px;
}
